.contato{
    background-color: #ffffff;
    padding: 1em;
}

.contato_titulo, .contato_texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato_titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato_texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato_email{
    padding: 1em;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    width: 90%;
    color: var(--cor-azul);
}

.contato_email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor-azul);
    background: url(../img/email.png);
    background-repeat:no-repeat ;
    padding-left: 2em;
    align-self: center;
}

@media screen and (min-width:1024px){
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato_email{
        width: 40%;
    }
    .contato_descricao{
        margin-right: 2em;
        width: 30%;
    }
    .contato_titulo{
        font-size: 24px;
    }
}