hr{
    margin: 0;
}

.rodape{
    background-color: #ffffff;
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width:1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }
    
    .lista-rodape{
        display: block;
    }

    .lista_rodape_item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }
    .lista_rodape_link{
        color: var(--cor-cinza);
        margin-left: 0.6em;
    }
    .lista_rodape_titulo{
        color: var(--cor-cinza-claro);
        font-size: 14px;
    }
    .rodape_titulo{
        font-size: 24px;
    }
}

@media screen and (min-width:1500px){
    .lista-rodape{
        border-left: 1px solid var(--cor-cinza-claro);
        padding-left: 1em;
    }
    .rodape{
        padding: 3em 0;
    }
}